spring:
  application:
    name: kiero

  # Database - Development RDS
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        show_sql: false
    open-in-view: false

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            redirect-uri: http://13.209.49.82/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            client-name: kakao
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
  # Redis
  data:
    redis:
      host: ${REDIS_HOST:kiero-redis}
      port: ${REDIS_PORT:6379}

  # Spring AI - OpenAI
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.1

# 공공데이터 Open API
open-api:
  service-key: ${OPEN_API_SERVICE_KEY}

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always

aws:
  s3:
    bucket: ${AWS_S3_BUCKET}
  region: ${AWS_REGION}
  credentials:
    access-key: ${AWS_ACCESS_KEY}
    secret-key: ${AWS_SECRET_KEY}

logging:
  level:
    root: info
    org:
      hibernate:
        SQL: debug
        type:
          descriptor:
            sql:
              BasicBinder:
                TRACE

jwt:
  secret: ${JWT_SECRET}
  access-token-expire-time: ${JWT_ACCESS_TOKEN_EXPIRE_TIME}
  refresh-token-expire-time: ${JWT_REFRESH_TOKEN_EXPIRE_TIME}

cors:
  allowed-origins: ${ALLOWED_ORIGINS}

springdoc:
  swagger-ui:
    enabled: true   # Swagger UI 활성화
    path: /swagger-ui.html  # Swagger UI 접속 경로
    operations-sorter: method  # 메서드 기준 정렬
    tags-sorter: alpha  # 태그를 알파벳순으로 정렬
  api-docs:
    path: /v3/api-docs  # OpenAPI 문서의 기본 경로 설정
  show-actuator: true  # Actuator 관련 문서도 Swagger에서 표시

